<template>
  <div id="app">
    <navigation></navigation>
    <router-view/>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation';

  export default {
    name: 'App',
    components: {
      'navigation': Navigation
    }
  }
</script>

<style>
  @import 'https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.2.min.css';
</style>
