<template>
  <div>
    <h3>{{ title }}</h3>
    <input type="radio" name="tag" value="0" @change="updateContributions('All')"/>All
    <div v-for="tag in tags">
      <input type="radio" name="tag" :value="tag.id" @change="updateContributions(tag.name)"/>{{ tag.name }}
    </div>
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
      <button type="reset" @click="removeContribution">Delete</button>
    </div>
  </div>
</template>

<script>
  import Map from 'ol/Map';
  import TileLayer from 'ol/layer/Tile'
  import VectorLayer from 'ol/layer/Vector';
  import OSM from 'ol/source/OSM';
  import VectorSource from 'ol/source/Vector';
  import View from 'ol/View';
  import Point from 'ol/geom/Point';
  import Feature from 'ol/Feature';
  import Overlay from 'ol/Overlay';
  import axios from 'axios';
  import { fromLonLat } from 'ol/proj';

  export default {
    name: 'Map',
    data () {
      return {
        title: 'Contributions map',
        vectorSource: new VectorSource({}),
        overlay: undefined,
        closer: undefined,
        tags: [],
        currentTagName: '',
        contributionId: undefined
      }
    },
    mounted() {

      const container = document.getElementById('popup');
      const content = document.getElementById('popup-content');
      this.$data.closer = document.getElementById('popup-closer');

      this.$data.overlay = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: { duration: 250 }
      });

      this.$data.closer.onclick = this.closePopup;

      const map = new Map({
        layers: [
          new TileLayer({
            source: new OSM()
          }),
          new VectorLayer({
            source: this.$data.vectorSource
          })
        ],
        overlays: [ this.$data.overlay ],
        target: 'map',
        view: new View({
          center: fromLonLat([9.18, 45.45]),
          zoom: 10
        })
      });

      map.on('singleclick', evt => {
        const coordinate = evt.coordinate;
        map.forEachFeatureAtPixel(evt.pixel, (feature, layer) => {
          axios.get('/contribution/' + feature.getId() + '/details')
            .then(response => {
              const c = response.data;
              this.$data.contributionId = c.id;
              content.innerHTML = '<h3>' + c.tag.name
                + '<code>' + c.latitude + '</code> <code>' + c.longitude + '</code></h3>';
              const image = new Image();
              image.src = 'data:image/jpeg;base64,' + c.photo;
              content.appendChild(image);

              this.$data.overlay.setPosition(coordinate);
            });
        });
      });

      axios.get('/tag/all')
        .then(response => response.data.forEach(tag => this.$data.tags.push(tag)));
    },
    methods: {
      closePopup() {
        this.$data.overlay.setPosition(undefined);
        this.$data.closer.blur();
        return false;
      },
      updateContributions(tagName) {
        this.$data.currentTagName = tagName;
        this.$data.vectorSource.clear();
        axios.get('/contribution/' + tagName)
          .then(response => response.data.forEach(c => {
            const feature = new Feature({
              type: 'click',
              geometry: new Point(fromLonLat([c.longitude, c.latitude]))
            });
            feature.setId(c.id);
            this.$data.vectorSource.addFeature(feature);
          }));
      },
      removeContribution() {
        this.closePopup();
        axios.delete('/contribution/' + this.$data.contributionId)
          .then(response => this.updateContributions(this.$data.currentTagName));
      }
    }
  }
</script>

<style scoped>
  @import '../../node_modules/ol/ol.css';

  .map {
    height: 400px;
    width: 100%;
  }

  .ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }
</style>
